<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caidao.mapper.CarPlatformApplyMapper">

    <sql id="baseSql">
        (car_id, prs_id, start_time, end_time, bind_user_id)
    </sql>

    <insert id="insertBatches" parameterType="java.util.List">
        INSERT INTO
            car_platform_apply
            <include refid="baseSql" />
        VALUES
            <foreach collection="list" item="item" index="index" separator=",">
                ( #{item.car_id}, #{item.prs_id}, #{item.start_time}, #{item.end_time}, #{item.bind_user_id}, )
            </foreach>
    </insert>

</mapper>
 