<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caidao.mapper.SysUserMapper">

    <!-- 批量更新用户的状态 -->
    <update id="batchDelete" parameterType="java.util.List">
        update sys_user
        SET state = 0
        where user_id in (
            <foreach collection="list" item="item" index="index"
                     separator=",">
                #{item}
            </foreach>
        )
    </update>

    <update id="updateBatchesState" parameterType="java.util.List">
        UPDATE
            sys_user
        SET
            state = 0
        WHERE
            user_id
        IN
            <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
    </update>
</mapper>
